

.HelloComponent{
    //background-color: blanchedalmond;
    width: 100%;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    .list{
        
        list-style-type: none;
        .listItem{
            padding: .5em;
            text-align: left;
        }
    }
    .textColor{
        color: blueviolet;
        font-weight: 800;
        font-style: italic;
    }
}
