<section class="nawbar">
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <!-- Title -->
    <span>{{ 'title' | translate }}</span>
    <span class="example-spacer"></span>

    <!-- Language dropdawn -->
    <div class="nav-item dropdown" ngbDropdown>
      <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
        <i class="fa fa-language"></i> {{ 'language' | translate }}
        <b class="caret"></b>
      </a>

      <div class="dropdown-menu">
        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">English</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('ru')">Русский</a>
      </div>
    </div>

    <!-- Dinamic menu items -->
    <a mat-button href="javascript:void(0)" *ngFor="let link of links" [routerLink]="link.path" [routerLinkActive]="link.active">
      <mat-icon class="example-icon">{{link.icon}}</mat-icon>{{link.label}}
    </a>

    <!-- User info blok -->
    <ul class="navbar-nav ">
      <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <i class="fa fa-user"></i> Мастер Йода
          <b class="caret"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="javascript:void(0)">
            <i class="fa fa-fw fa-user"></i> Личный кабинет</a>
          <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
            <i class="fa fa-fw fa-power-off"></i> Выйти</a>
        </div>
      </li>
    </ul>

  </mat-toolbar-row>
</mat-toolbar>
</section>
