
<!-- <p>
2. Создайте родительский компонент и вложенный в него дочерний компонент. В родительском компоненте должен быть div 
с текстом «Текст по умолчанию». Дочерний компонент должен содержать кнопку при нажатии на которую, через event binding
 передается событие в родительский компонент. Кроме события также передается строка «Текст из дочернего компонента». 
 При этом, текст из родительского компонента должен быть заменен на тот, который мы передали из дочернего. 
</p> -->

<div class="HelloComponent">
    <h3>App event children</h3>
    {{info}}
    <div>
      <button mat-raised-button color="primary" (click)="setToParent('text msg')">Перенести в родительский</button>
      </div>

</div>