<div class="timeComponent">
    <h2>Родительский модуль с вложенным компонентом.</h2>
    <p class="">
        Здравствуйте, сегодня {{date | amLocale:'ru'| amLocal | amDateFormat:'MMMM DD YYYY, текущее время hh:mm'}} <b>{{showMassage}}</b>
    </p>
   
</div>

<app-countdown></app-countdown>