
.homeWorck{
    width: 75%;
    margin: 1em auto;
    text-align: center;
    padding: 1em 0;

    background-color: snow;
    .title{
        text-align: center;
        width: 100%;
        margin: 1em 0;
    }
    .app-time, .app-hello{
        width: 50%;
    }
   .tab-groupConteiner{
       margin: 1em 0;
   }
}