<div class="homeWorck" [@routerTransition]>
  <mat-toolbar>
    <span class="title">Домашние задания</span>
  </mat-toolbar>

  <!-- <mat-tab-group class="tab-groupConteiner">
    <mat-tab *ngFor="let link of links"   [routerLink]="link.path"  [label]="link.label">

    </mat-tab>
  </mat-tab-group> -->
  <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of links"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>

    <router-outlet></router-outlet>

</div>
