<div class="welcome-page">
    <div class="row">
        <div class="col-md-10 push-md-1">
            <h1>404 - Page Not Found</h1>
            <p class="lead">Страница не найдена</p>
            <p class="lead">
                <a class="btn rounded-btn" [routerLink]="['/']">Перезагрузка</a>
            </p>
        </div>
    </div>
</div>
