<!-- 1. Создайте шаблон с кнопкой и текстом «Изменить цвет». 
По нажатию на кнопку необходимо изменить значение проперти компонента «isPressed» с false на true.
 В шаблоне добавить div с текстом «Цвет изменен».
  В стилях добавить Один css класс, где прописан красный цвет текста. 
  Используя конструкцию [class.className] или ngClass устанавливаете на div класс redText в случае если «isPressed» == true.
   При повторном нажатии текст должен стать обычного цвета. 

2. Создайте родительский компонент и вложенный в него дочерний компонент. В родительском компоненте должен быть div 
с текстом «Текст по умолчанию». Дочерний компонент должен содержать кнопку при нажатии на которую, через event binding
 передается событие в родительский компонент. Кроме события также передается строка «Текст из дочернего компонента». 
 При этом, текст из родительского компонента должен быть заменен на тот, который мы передали из дочернего.  -->



<div class="HelloComponent">
    app-event
   
      <h2>{{aditionalTitle}}</h2>
   <app-event-children [info]='text' (update)="setUpdatedValue($event)"></app-event-children>
    
</div>