@import "./../../../../../node_modules/compass-sass-mixins/lib/compass";
$color: blue;
$color-text-light: lightblue;
.filmsContent{
width: 70vw;
margin: 0 auto;
.filmsContent /deep/ {

  width: 80%;
  margin: 0 auto;
  //border: 1px solid red;
  margin-top: 1em;

  app-film-item {
    height: 870px;
  }

}
.example-card {
  max-width: 300px;
}

.menu-card {
padding: 0px;
}
.menu-toolbar {
  background-color: white;
}

.example-spacer {
  flex: 1 1 auto;
}}



.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.example-full-width {
  width: 100%;
}



.pagerInfo {
  @include display-flex();
  @include justify-content(space-between);
  margin-top: 5px;
  font-size: .8rem;

  .hotelsShowing {
    margin-left: 5px;
    color: $color-text-light;
  }

  .searchSuccess {
    margin-right: 5px;
    font-weight: 700;
  }

  .searchAgain {
    color: $color;
    font-weight: 500;
    text-decoration: underline;
  }
}

.pager {
  width: 100%;
  margin: 32px auto 100px auto;

  .pageItem {
    margin: 0 3px 0 3px;
&:hover{
  cursor: pointer;
}
    .pageLink {
      border: none;
    }
  }

  .active {
    color: white;

    a {
      background-color: $color;
    }
  }

  .first, .end {
    color: $color;
  }
}
