<section class="filmsContent" [@routerTransition]>

  <!--  Conteiner info Likes -->
  <mat-card class="menu-card">
    <mat-toolbar class="menu-toolbar">
      <mat-toolbar-row>

        <!--  Caunt items in like -->
        <span>В избранном {{likeCaunt}} елементов</span>
        <span class="example-spacer"></span>
        <!-- /Caunt items in like -->

        <!--  Batton sort films list -->
        <div>
          <button mat-button sortColumn [key]="'name'" [data]="filmsData">Сортировать: По алфавиту</button>
        </div>
        <!-- /Batton sort films list -->

      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card>
  <!-- /Conteiner info Likes -->

  <!-- Conteiner for search input -->
  <div class="conteiner">
    <mat-form-field class="example-full-width">
      <input matInput #message="ngModel" maxlength="256" [placeholder]="searchPlaceholder" [(ngModel)]="searchValue" minlength="3"
        name="searchName">

      <mat-hint align="start" *ngIf="message.value && message.value.length">
        <strong>
          Количество символов минимум {{message.value.length}}
        </strong>
      </mat-hint>

      <mat-hint align="end" *ngIf="message.value && message.value.length">
        {{message.value.length}} / 256
      </mat-hint>

    </mat-form-field>

    <!--  Error -->
    <div *ngIf="message.errors">
      Минимальная длина 3 введите больше символов
    </div>
    <!--  / Error -->

    <!-- dropdown set type filter -->
    <div class="conteiner">
      <div class="dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <i class="fa fa-language"></i> Тип фильтра
          <b class="caret"></b>
        </a>

        <div class="dropdown-menu ">
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeCriteria('name')">Имя</a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeCriteria('date')">Год выпуска</a>
        </div>

      </div>
    </div>
  </div>
  <!-- / conteiner for search input -->

  <!-- Conteiner grid list for items  -->
  <mat-grid-list *ngIf="filmsData" class="filmsContent" cols="3" rowHeight="760px">
    <mat-grid-tile class="filmsItem" *ngFor="let data of pagedItems | pipeFilter: searchValue:searchField; index as i; trackBy: trackByFn ">
      <!-- custum app-film-item component -->
      <app-film-item [data]='data' [index]='i+1' [filmsData]='pagedItems' (likesCounterOutput)="setUpdatedValue($event)"></app-film-item>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- / Conteiner grid list for items  -->

  <!-- Pagimator -->
  <div>
    <div class="container">
      <!-- // Catalog Pager block -->
      <div class="pager">
        <nav class=" text-center" aria-label="Page Catalog List navigation">
          <ul *ngIf="pager.pages && pager.pages.length" class="row pagination justify-content-center">
            <li class="page-item pageItem " [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link pageLink first" (click)="setPage(1)"> < </a>
            </li>
            <li class="page-item pageItem" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link pageLink" (click)="setPage(pager.currentPage - 1)">Back</a>
            </li>
            <li class="page-item pageItem" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a class="page-link pageLink" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item pageItem" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link pageLink" (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li class="page-item pageItem " [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link pageLink end" (click)="setPage(pager.totalPages)"> > </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Catalog Pager block // -->
    </div>
  </div>

</section>
