<div class="HelloComponent">
    <h2 class="title">Список приветствий</h2>
    <div>
       <ul class="list">
            <li *ngFor="let user of helloData; index as i;" class="listItem">
                Номер: {{i+1}}, Значение: ‘{{user}}’
            </li>
        </ul>
    </div>
</div>