.HelloComponent{
    background-color: blanchedalmond;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    .title{
        font-style: italic;
    }
    .list{
        
        list-style-type: none;
        .listItem{
            padding: .7em;
            text-align: left;
        }
    }
}