<section class="wrapper" [@routerTransition]>
    <h2>Вас приветсвует приложение о фильмах</h2><br>
    <mat-tab-group>
        <mat-tab label="Tab 1">Content 1</mat-tab>
        <mat-tab label="Tab 2">Content 2</mat-tab>
      </mat-tab-group>

</section>


