
    <mat-card class="filmsCard" [attr.data-index]="index" id={{data.id}}>
        <mat-card-header class="filmsCardHeader">
            <mat-card-title class="filmsCardTitle">{{data.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="filmsCardImg" src={{data.imgUrl}} alt={{data.name}}>
        <mat-card-content class="filmsCardBody">
            <p class="description">
                {{data.description.substring(0, 100)}}
            </p>

            <div class="subDescription">
                <div class="subDescriptionYear"> Year: {{data.year}} </div>
                <button #slideBg mat-mini-fab class="subDescriptionBtn" [class.like]="data.liked" [attr.data-index]="index" id="{{index}}"  (click)="setLike(index);">
                    <mat-icon aria-label="Example icon-button with a heart icon" [attr.data-index]="index">favorite</mat-icon>
                </button>
            </div>

        </mat-card-content>
        <mat-card-actions class="filmsCardBattons">
            <button mat-button>Открыть</button>
            <button mat-button>Редактировать</button>
        </mat-card-actions>
    </mat-card>



