@import "./../../../../../../node_modules/compass-sass-mixins/lib/compass";

.filmsItem /deep/ {
  .filmsCard /deep/ {
    min-height: 625px;
    vertical-align: middle;

    .filmsCardHeader {
      width: 100%;

      .mat-card-header-text {
        width: 100%;
      }

      .filmsCardTitle {
        text-align: center;
        min-height: 1.2em;
        font-size: 1.2em;
        font-weight: 700;
      }
    }

    .filmsCardImg {
      width: auto;
      height: 100%;
      min-height: 380px;
      max-height: 380px;
      margin: 0 auto 1em;
    }

    .filmsCardBody {
      text-align: left;
      padding: .5em;
      margin-bottom: 0;
      .subDescription{
        @include display-flex();
        @include flex-wrap(wrap);
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(stretch);
          .subDescriptionYear{
            @include flex-basis(48%);
            align-self: baseline;
          }
          .subDescriptionBtn /deep/{
            @include flex-basis(15%);
            align-self: baseline;
          }

      }
    }
  }}
  .like{
    background-color: red ;
  }

